<% layout( '../../layout') -%>

<script src="/js/controllers/admin.user.edit.js"></script>
<div ng-controller="AdminUserEditController" class="col-sm-6 col-sm-offset-3">

    <form role="form" novalidate ng-init="id='users/<%= item.id %>'">
        <div class="form-group">
            <label>Name:</label>

            <input type="text" class="form-control" ng-model="form.name" required/>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" ng-model="form.email" value="<%= item.email %>" required/>
        </div>
        <div class="form-group">
            <label>Role:</label>
            <select ng-model="form.role" class="form-control" ng-options="r.name for r in form.roles" ></select>
        </div>
        <button ng-click="cancel()" ng-disabled="isCancelDisabled()" class="btn btn-default">Cancel</button>
        <button ng-click="save()" ng-disabled="isSaveDisabled()" class="btn btn-primary">Save</button>
    </form>
</div>

