<% layout( '../../layout') -%>
    
<div ng-controller="AdminGroupCreateController" class="col-sm-6 col-sm-offset-3">
    <%- include _partial.ejs %>
</div>

<script src="/js/controllers/admin.group.create.js"></script>
