<% layout( '../../layout') -%>
    
<div ng-controller="AdminGroupCreateController" class="col-sm-6 col-sm-offset-3" ng-init="load('users/<%= item.id %>')">
    <%- include _partial.ejs %>
</div>

<script src="/js/controllers/admin.group.edit.js"></script>
