<% layout( '../../layout') -%>

<a class="btn btn-primary" href="/admin/groups/add">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach( function( item ){ %>
            <tr>
                <td>
                    <%= item.name %>
                </td>
                <td width="150">
                    <div>
                        <a type="button" class="btn btn-primary" href="/admin/groups/<%= item._id %>/edit" title="" data-placement="top" data-original-title="EDIT GROUP?">
                            <i class="icon-remove"></i>
                            Edit
                        </a>
                        <a type="button" class="btn btn-danger " href="/admin/groups/<%= item._id %>/remove" onclick="return confirm('Are you sure?')" title="" data-placement="top" data-original-title="REMOVE GROUP?">
                            <i class="icon-remove"></i>
                            Remove
                        </a>
                    </div>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>